.pagination 
  .container
    ul.pagination__list.list-reset
      li.pagination__item
        a.link-reset(href="?page=prev" aria-label="Предыдущая страница")
          +icon("arrow-left")
      li.pagination__item.pagination__item--active
        a.link-reset.text.text--sm(href="?page=1") 1
      li.pagination__item
        a.link-reset.text.text--sm(href="?page=2") 2
      li.pagination__item
        a.link-reset.text.text--sm(href="?page=3") 3
      li.pagination__item
        a.link-reset.text.text--sm(href="?page=4") 4
      li.pagination__item
        a.link-reset.text.text--sm(href="?page=5") 5
      li.pagination__item
        a.link-reset.text.text--sm(href="?page=6") 6
      li.pagination__item
        a.link-reset(href="?page=next" aria-label="Следующая страница")
          +icon("arrow-right")
