include @cmps/Card/card

section.by-card
  .container
    +card
      +card-title("Оплата банковской картой")

      +card-subtitle("Типы карт, принимаемых к оплате:")
      +card-list(
        "Сбербанк",
        "Тинькофф",
        "Альфа-банк",
        "ВТБ Банк"
      )

      +card-subtitle("Порядок оплаты:")
      +card-list(
        "Оплатить картой возможно только заказы, размещенные через сайт и по телефону",
        "Оплата заказа производится после его оформления и подтверждения менеджером магазина",
        "(двернойрегион.ком) не имеет доступа к банковской карте клиента и не несет ответственности за данные о ней"
      )
