include @cmps/Card/card

section.cash
  .container
    +card
      +card-title("Наличный расчет")
      +card-paragraph("Оплата наличными возможна, если заказ вам доставляет наш экспедитор либо вы забираете заказ из пункта самовывоза самостоятельно.")
      +card-paragraph("В случае если товар был доставлен нашим экспедитором, с покупателя взымается плата по тарифу за оказание услуги доставки товара.")
      +card-paragraph("Вы оплачиваете заказ наличными курьеру при его получении и проверке!")
      +card-list(
        "При получении заказа в пункте самовывоза с клиента взимается только стоимость товара!"
      )
      +card-subtitle("В день получения заказа и получения документов, вы ПОЛУЧАЕТЕ ГОДОВУЮ ГАРАНТИЮ на весь товар!")
