include @cmps/Card/card
include @cmps/Spoiler/spoiler

section.cashless
  .container
    +card
      +card-title("Безналичный расчет")
      +card-paragraph("Безналичный расчет - предварительная полная оплата покупателем товаров и услуг на счет продавца, которая составляет полную стоимость заключаемой сделки. После оформления заказа будет сформирован счет на оплату, который Вы можете распечатать и оплатить. Предоплаченный заказ вручается лицу, указанному в качестве Получателя Заказа, по документу, удостоверяющему личность.")

      +card-subtitle("Документы предоставляемые продавцом:")
      +card-list(
        "Товарная накладная ТОРГ-12",
        "Счет-фактура",
        "Счет на оплату"
      )

      +spoiler("Наши реквизиты")
        +card-paragraph("Индивидуальный предприниматель Садохова Ирина Сергеевна")
        +card-paragraph("ИНН 325001185403 / ОГРНИП 321325600037011")

        +card-subtitle("Банковские реквизиты:")
        +card-list(
          "ИП Садохова Ирина Сергеевна",
          "Номер счета: 40802810189000003653",
          "ИНН: 325001185403"
        )
        +card-list(
          "АКБ «ФОРМА-БАНК» (АО) г. Москва",
          "Бик 044525341",
          "Корр. Счет: 60101810300000000341"
        )
