include @cmps/Card/card

section.info
  .container
    +card
      +card-title("Контакты")
      +card-paragraph("Телефон отдела продаж: 8-903-535-42-42")
      +card-paragraph("Email: m-dvor03@mail.ru")
      +card-list(
        "Понедельник - с 9:00 до 21:00",
        "Вторник - с 9:00 до 21:00",
        "Среда - с 9:00 до 21:00",
        "Четверг - с 9:00 до 21:00",
        "Пятница - с 9:00 до 21:00",
        "Суббота - с 9:00 до 20:00",
        "Воскресенье - с 9:00 до 20:00"
      )
      +card-subtitle("Заказы через сайт принимаются круглосуточно!")
