include @cmps/Card/card

section.where-to-buy.active#where-to-buy(data-tab-content)
  .container
    +card
      +card-title("Где купить")
      +card-paragraph("Мы приглашаем Вас посетить один из наших фирменных магазинов, удобно расположенных в крупных ТЦ города Москвы. Наши специалисты помогут Вам выбрать модель двери, которая идеально впишется в будущий интерьер Вашего дома и будет радовать Вас многие годы. Мастера сервисной службы профессионально и в кратчайшие сроки доставят и установят двери, приобретенные Вами.")

      +card-subtitle("1. Магазин Телефон отдела продаж: 8-903-535-42-42")
      +card-paragraph("г. Москва, МКАД 47КМ, ВЛАДЕНИЕ 31, СТР.1")
      +card-subtitle("Как добраться")
      +card-list(
        "Говорово линия метро, последний вагон из центра, выход №3, Прямо 6 минут до ТЦ Говорово, параллельно пруда, Цокольный этаж «Дверной Регион»"
      )

      +card-subtitle("2. Магазин Телефон отдела продаж: 8-916-263-42-42")
      +card-paragraph("Одинцовский р-н, пос. Новоивановское ТЦ Можайский двор, ул. Западная 100, цокольный этаж, F3")
      +card-subtitle("Как добраться")
      +card-list(
        "От станции метро Филевский парк и Славянский бульвар на автобусе или маршрутном такси №139 до остановки «Гостиница Можайская»",
        "От станции метро Парк Победы на автобусе или маршрутном такси №339 до остановки «Гостиница Можайская»",
        "От станции метро Молодежная на автобусе № 418 (до Одинцово) до остановки «Гостиница Можайская»",
        "От Киевского вокзала (м. Киевская) на автобусе №454 (до Одинцово) до остановки «Гостиница Можайская»",
        "От станции Юго-Западная на автобусе №461 (до Одинцово) до остановки «Гостиница Можайская»",
        "От Киевского вокзала (м. Киевская) на автобусе №477 (до пгт. Власиха) до остановки «Гостиница Можайская»"
      )
      #map
