include @cmps/Card/card

section.info
  .container
    +card
      +card-title("Где купить")
      +card-paragraph("Мы приглашаем Вас посетить один из наших фирменных магазинов, удобно расположенных в крупных ТЦ города Москвы. Наши специалисты помогут Вам выбрать модель двери, которая идеально впишется в будущий интерьер Вашего дома и будет радовать Вас многие годы. Мастера сервисной службы профессионально и в кратчайшие сроки доставят и установят двери, приобретенные Вами.")
      +card-subtitle("Желаем Вам приятных приобретений!")
      #map
