include @cmps/Card/card

section.info
  .container
    +card
      +card-title("Информация доставке")
      +card-paragraph("Специально для Вас - наших клиентов, мы стараемся осуществить доставку заказов по Москве до офисов транспортных компаний")
      +card-paragraph("Стоимость доставки вы можете самостоятельно рассчитать на официальных сайтах грузоперевозчиков.")
      +card-paragraph("Если вы не нашли компанию, которая подходит именно вам, озвучите ваши пожелания нашим менеджерам.")
      +card-paragraph("Мы сделаем все, чтобы вы были довольны.")
      +card-subtitle("* Рассчитывается ориентировочная стоимость доставки, конечная стоимость определяется после приема груза на терминале компании.")
      