include @cmps/Card/card

section.invite
  .container
    +card
      +card-title("Доставка по Москве в пределах МКАД")

      +card-subtitle("Время доставки:")
      +card-list(
        "C понедельника по пятницу с 9:00 до 18:00",
        "В субботу с 9:00 до 17:00",
        "Выбор времени для доставки +500 рублей к тарифу"
      )

      +card-subtitle("Расчет стоимости доставки:")
      +card-paragraph("C помощью менеджера-консультанта по тел.: +7 (903) 535-42-42")

      +card-subtitle("Заказы от 5000 рублей:")
      +card-paragraph("Доставка по Москве в пределах МКАД 1500 рублей, до подъезда. Подъем в стоимость доставки не входит!!! Цена за подъем на этаж и за то, что рабочие занесут дверь в квартиру, оговаривается отдельно.")
      
      +card-subtitle("Заказы менее 5000 рублей:")
      +card-paragraph("Мы с удовольствием соберем и приготовим для самовывоза со склада ТЦ Можайский двор, ул. Западная 100, цокольный этаж, F3")
