include @cmps/Card/card

section.moscow-region
  .container
    +card
      +card-title("Доставка до транспортной компании на территории Московской области")
      +card-paragraph("1500 рублей + 30 рублей за км от МКАД")

      +card-subtitle("Время доставки:")
      +card-list("с 9:00 до 18:00")
