include @cmps/Card/card

section.regions
  .container
    +card
      +card-title("Доставка транспортными компаниями в регионы")
      +card-paragraph("Мы сотрудничаем с любыми транспортными компаниями, вы можете выбрать любую удобную из них для доставки в ваш город. Ниже вы найдете подробную информацию о транспортных компаниях и условиях транспортировки товаров.")

      +card-subtitle("Время доставки:")
      +card-list(
        "C понедельника по пятницу с 9:00 до 18:00",
        "В субботу с 9:00 до 17:00"
      )

      +card-subtitle("Расчет стоимости доставки от 5000 рублей:")
      +card-paragraph("C помощью менеджера-консультанта по тел.: +7 (903) 535-42-42")
