@import "@cmps/Select/select";

.submit-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);

  &__input {
    grid-column: span 1;
    padding: rem(18px) rem(30px);
    font-size: rem(18px);
    background-color: #fcfcfc;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    outline: none;
  }

  &__wrapper {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30px);
  }

  &__submit {
    padding: rem(14px) rem(20px);
    font-size: rem(18px);
  }
}
