include @cmps/Action/action

mixin burger
  .burger
    .burger__top
      +action("call-me", "phone")
        | Обратный звонок
      +action-link("mailto:m-dvor03@mail.ru", "mail")
        | m-dvor03@mail.ru
    nav.burger-nav
      ul.list-reset.burger-nav__list
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/company") О компании
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/catalog") Каталог
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/cooperation") Сотрудничество
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/info#where-to-buy") Где купить
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/delivery") Доставка
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/installation") Монтаж
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/pay") Оплата
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/garantee") Гарантия
        li.burger-nav__item
          a.link-reset.text.text--sm(href="/info#contacts") Контакты

mixin burger-toggle
  button.burger__toggle.btn-reset#burger-toggle(aria-label="Открыть / закрыть меню")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")
