include @cmps/Action/action

mixin burger
  .burger
    .burger__top
      +action("call-me", "phone")
        | Обратный звонок
      +action-link("mailto:info@dveriregionov.ru", "mail")
        | info@dveriregionov.ru
    nav.burger-nav
      ul.list-reset.burger-nav__list
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="about.html") О компании
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="catalog.html") Каталог
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="discounts.html") Акции и скидки
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="cooperation.html") Сотрудничество
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="info.html#where-to-buy") Где купить
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="service.html") Сервис
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="info.html#contacts") Контакты

mixin burger-toggle
  button.burger__toggle.btn-reset#burger-toggle(aria-label="Открыть / закрыть меню")
    span
    span
    span
