include @cmps/Action/action

mixin burger
  .burger
    .burger__top
      +action("call-me", "phone")
        | Обратный звонок
      +action-link("mailto:m-dvor03@mail.ru", "mail")
        | m-dvor03@mail.ru
    nav.burger-nav
      ul.list-reset.burger-nav__list
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="/company") О компании
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="/catalog") Каталог
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="#") Акции и скидки
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="/cooperation") Сотрудничество
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="/info#where-to-buy") Где купить
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="#") Сервис
        li.burger-nav__item
          a.link-reset.text.text--sm.text--black(href="/info#contacts") Контакты

mixin burger-toggle
  button.burger__toggle.btn-reset#burger-toggle(aria-label="Открыть / закрыть меню")
    span
    span
    span
