mixin tabs(activeIndex = 0, ...items)
  nav.tabs.container
    each item, index in items
      if index === activeIndex
        button.tabs__item.tabs__item--active.text.text--md(data-id=`${item.hash}`)= item.name
      else
        button.tabs__item.text.text--md(data-id=`${item.hash}`)= item.name
