section.benefits
  .container
    h2.benefits__title.title.title--xl.title--light Наши преимущества
    .benefits__wrapper
      .benefit
        .benefit__icon
          +icon("truck")
        h4.benefit__title.text.text--md.text--thindly Доставка
        p.benefit__description.text.text--sm.text--thindly
          | Наша компания осуществляет доставку до дома и офиса
      .benefit
        .benefit__icon
          +icon("card")
        h4.benefit__title.text.text--md.text--thindly Оплата
        p.benefit__description.text.text--sm.text--thindly
          | У нас вы можете оплатить покупки любым удобным для Вас способом в том числе в рассрочку
      .benefit
        .benefit__icon
          +icon("document")
        h4.benefit__title.text.text--md.text--thindly Гарантии
        p.benefit__description.text.text--sm.text--thindly
          | Наша компания дает 1 год гарантии на все виды продукции!
      .benefit
        .benefit__icon
          +icon("house")
        h4.benefit__title.text.text--md.text--thindly Установка
        p.benefit__description.text.text--sm.text--thindly
          | Наши специалисты не только установят, но и объяснят как пользоваться
