.brands {
  margin-bottom: rem(80px);

  &__title {
    margin-bottom: rem(40px);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slider {
    margin: 0 rem(60px);
  }

  &__nav {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: rem(56px);
    height: rem(56px);
    border-radius: 100%;

    svg {
      width: rem(20px);
      height: rem(20px);
      stroke: var(--color-light);
    }
  }
}

.brands-slide {
  text-align: center;
}
