.hero {
  margin-bottom: rem(80px);

  @include sm-laptop {
    margin-bottom: rem(50px);
  }

  @include mobile {
    margin-bottom: rem(40px);
  }
}

.hero-slide {
  position: relative;
  display: flex;
  align-items: center;
  height: rem(800px);
  padding-left: rem(120px);

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    width: 100%;
  }

  &__title {
    margin-bottom: rem(50px);
    font-size: rem(60px);
    color: var(--color-light);

    @include resolution(1200px) {
      margin-bottom: rem(40px);
      font-size: rem(46px);
    }

    @include sm-laptop {
      margin-bottom: rem(30px);
      font-size: rem(36px);
    }

    @include resolution(600px) {
      margin-bottom: rem(20px);
      font-size: rem(30px);
    }
  }

  &__list {
    margin-bottom: rem(50px);

    @include sm-laptop {
      margin-bottom: rem(30px);
    }

    @include resolution(600px) {
      margin-bottom: rem(20px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: rem(20px);
    color: var(--color-light);

    &::before {
      width: rem(6px);
      height: rem(6px);
      margin-right: rem(10px);
      content: "";
      background-color: var(--color-japonica);
      border-radius: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(14px);
    }

    @include sm-laptop {
      font-size: rem(16px);

      &::before {
        width: rem(4px);
        height: rem(4px);
        margin-right: rem(8px);
      }
    }

    @include resolution(600px) {
      font-size: rem(13px);
    }
  }

  @include sm-laptop {
    height: rem(600px);
    padding-left: rem(100px);
  }

  @include tablet {
    height: rem(550px);
    padding-left: rem(30px);
  }

  @include resolution(480px) {
    height: rem(500px);
    padding-left: 0;
  }
}

.hero-slider__nav-item {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(56px);
  height: rem(56px);
  border: 2px solid var(--color-light);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  transform: translateY(-50%);

  svg {
    width: rem(20px);
    height: rem(20px);
    stroke: var(--color-light);
    transition: stroke 0.3s ease-in-out;
  }

  &:hover {
    background-color: var(--color-light);

    svg {
      stroke: var(--color-black);
    }
  }

  &--prev {
    left: rem(20px);
  }

  &--next {
    right: rem(20px);
  }

  @include sm-laptop {
    width: rem(40px);
    height: rem(40px);

    svg {
      width: rem(16px);
      height: rem(16px);
    }
  }

  @include tablet {
    top: rem(30px);
    transform: none;
  }
}
