section.hero
  h2.visually-hidden Новинки компании
  .container.hero__container
    .hero__slider.swiper
      .swiper-wrapper
        .hero-slide.swiper-slide
          h2.hero-slide__title.title.title--xl.title--light Новинка!
          ul.hero-slide__list.list-reset
            li.hero-slide__item.text.text--md.text--thindly Покритие Marable Soft Touch
            li.hero-slide__item.text.text--md.text--thindly Оклейка фотообоями
            li.hero-slide__item.text.text--md.text--thindly Покраска любой краской
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
        .hero-slide.swiper-slide
          h2.hero-slide__title.title.title--xl.title--light "Мраморные древи"
          ul.hero-slide__list.list-reset
            li.hero-slide__item.text.text--md.text--thindly Покритие Marable Soft Touch
            li.hero-slide__item.text.text--md.text--thindly Оклейка фотообоями
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
        .hero-slide.swiper-slide
          h2.hero-slide__title.title.title--xl.title--light Свобода творчества!
          ul.hero-slide__list.list-reset
            li.hero-slide__item.text.text--md.text--thindly Покритие Marable Soft Touch
            li.hero-slide__item.text.text--md.text--thindly Оклейка фотообоями
            li.hero-slide__item.text.text--md.text--thindly Покраска любой краской
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
      .hero-slider__nav
        button.btn-reset.hero-slider__nav-item.hero-slider__nav-item--prev(aria-hidden="true")
          +icon("arrow-left")
        button.btn-reset.hero-slider__nav-item.hero-slider__nav-item--next(aria-hidden="true")
          +icon("arrow-right")
