section.hero
  h2.visually-hidden Новинки компании
  .hero__slider.swiper
    .swiper-wrapper
      .hero-slide.swiper-slide
        +image("hero-slider/1.jpg")(class="hero-slide__image" aria-hidden="true")
        .hero-slide__container.container
          h2.hero-slide__title Новинка!
          ul.hero-slide__list.list-reset
            li.hero-slide__item Покритие Marable Soft Touch
            li.hero-slide__item Оклейка фотообоями
            li.hero-slide__item Покраска любой краской
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
      .hero-slide.swiper-slide
        +image("hero-slider/2.jpg")(class="hero-slide__image" aria-hidden="true")
        .hero-slide__container.container
          h2.hero-slide__title "Мраморные древи"
          ul.hero-slide__list.list-reset
            li.hero-slide__item Покритие Marable Soft Touch
            li.hero-slide__item Оклейка фотообоями
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
      .hero-slide.swiper-slide
        +image("hero-slider/3.jpg")(class="hero-slide__image" aria-hidden="true")
        .hero-slide__container.container
          h2.hero-slide__title Свобода творчества!
          ul.hero-slide__list.list-reset
            li.hero-slide__item Покритие Marable Soft Touch
            li.hero-slide__item Оклейка фотообоями
            li.hero-slide__item Покраска любой краской
          a.hero-slide__cta.btn.btn-reset.btn--md.btn--primary Узнать больше
    .hero-slider__nav
      button.btn-reset.hero-slider__nav-item.hero-slider__nav-item--prev(aria-hidden="true")
        +icon("arrow-left")
      button.btn-reset.hero-slider__nav-item.hero-slider__nav-item--next(aria-hidden="true")
        +icon("arrow-right")
