.hero {
  margin: rem(20px) 0 rem(80px);
}

.hero-slide {
  display: flex;
  align-items: center;
  height: rem(900px);
  padding-left: rem(120px);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    width: 100%;
  }

  &__title {
    margin-bottom: rem(50px);
    font-size: rem(60px);
    color: var(--color-light);
  }

  &__list {
    margin-bottom: rem(50px);
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: rem(20px);
    color: var(--color-light);

    &::before {
      width: rem(6px);
      height: rem(6px);
      margin-right: rem(10px);
      content: "";
      background-color: var(--color-japonica);
      border-radius: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(14px);
    }
  }

  &:nth-child(1) {
    background-image: url("@images/hero-slider/1.jpg");
  }

  &:nth-child(2) {
    background-image: url("@images/hero-slider/2.jpg");
  }

  &:nth-child(3) {
    background-image: url("@images/hero-slider/3.jpg");
  }
}

.hero-slider__nav-item {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(56px);
  height: rem(56px);
  border: 2px solid var(--color-light);
  border-radius: 100%;
  transition: background-color 0.3s ease-in-out;
  transform: translateY(-50%);

  svg {
    width: rem(20px);
    height: rem(20px);
    stroke: var(--color-light);
    transition: stroke 0.3s ease-in-out;
  }

  &:hover {
    background-color: var(--color-light);

    svg {
      stroke: var(--color-black);
    }
  }

  &--prev {
    left: rem(20px);
  }

  &--next {
    right: rem(20px);
  }
}
