@import "@cmps/Product/product";
@import "@cmps/Loader/loader";

.proposition {
  margin-bottom: rem(90px);

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, rem(350px)));
    gap: rem(30px);
    justify-content: center;

    @include sm-laptop {
      grid-template-columns: repeat(auto-fit, minmax(0, rem(290px)));
      gap: rem(20px);
    }
  }

  @include sm-laptop {
    margin-bottom: rem(50px);
  }

  @include mobile {
    margin-bottom: rem(40px);
  }
}

.proposition-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(60px);
  border: solid var(--color-mercury);
  border-width: 1px 0;

  &__item {
    padding: rem(40px) 0;
    font-size: rem(20px);
    font-weight: 600;
    color: var(--color-gray);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: rem(80px);
    }

    &--active {
      color: var(--color-black);
    }

    @include sm-laptop {
      padding: rem(24px) 0;
      font-size: rem(16px);
    }

    @include tablet {
      padding: rem(20px) 0;
      font-size: rem(14px);

      &:not(:last-child) {
        margin-right: rem(50px);
      }
    }

    @include resolution(480px) {
      font-size: rem(12px);

      &:not(:last-child) {
        margin-right: rem(30px);
      }
    }

    @include sm-mobile {
      font-size: rem(11px);

      &:not(:last-child) {
        margin-right: rem(20px);
      }
    }
  }

  @include sm-laptop {
    margin-bottom: rem(40px);
  }
}

.loader {
  min-height: rem(400px);
}
