@import "../mixins";

// Components

@import "@cmps/Header/header";
@import "@cmps/Footer/footer";
@import "@cmps/Breadcrumbs/breadcrumbs";
@import "@cmps/Pagination/pagination";

// Partials

@import "@partials/catalog-list/list";

.pagination {
  margin: rem(60px) 0 rem(90px);

  @include sm-laptop {
    margin: rem(50px) 0;
  }

  @include mobile {
    margin: rem(40px) 0;
  }
}
