@import "../mixins";

// Components

@import "@cmps/Burger/burger";
@import "@cmps/Header/header";
@import "@cmps/Footer/footer";
@import "@cmps/Breadcrumbs/breadcrumbs";
@import "@cmps/Tabs/tabs";
@import "@cmps/Card/card";

section {
  margin-bottom: rem(30px);
}

section:last-child {
  margin-bottom: rem(80px);
}

.tabs {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: rem(50px);
}

#map {
  width: 100%;
  height: rem(600px);
}
