.popup {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  &__text {
    position: absolute;
    right: rem(-10px);
    bottom: rem(-10px);
    width: rem(240px);
    padding: rem(16px);
    font-size: rem(14px);
    line-height: 1.3;
    pointer-events: none;
    visibility: hidden;
    background-color: var(--color-light);
    border: 1px solid var(--color-mercury);
    border-radius: 8px;
    opacity: 0;
    transition:
      visibility 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    transform: translateY(100%);
  }

  &__open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(30px);
    height: rem(30px);
    font-size: rem(18px);
    background-color: var(--color-primary);
    border-radius: 100%;

    &:hover + .popup__text {
      visibility: visible;
      opacity: 1;
    }

    @include sm-laptop {
      width: rem(20px);
      height: rem(20px);
      font-size: rem(14px);
    }
  }
}
