.logo {
  img {
    width: rem(180px);
    border-radius: 10px;

    @include resolution(1200px) {
      width: rem(140px);
    }

    @include sm-laptop {
      width: rem(120px);
    }

    @include mobile {
      width: rem(110px);
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
