.card {
  padding: rem(40px) rem(30px);
  margin-bottom: rem(50px);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);

  &__title {
    margin-bottom: rem(30px);
  }

  &__text {
    max-width: em(1000px, 18px);

    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }
}
