mixin card-title(title)
  h2.card__title.title.title--md.title--black&attributes(attributes)= title

mixin card-subtitle(subtitle)
  h3.card__subtitle.title.title--sm.title--black= subtitle

mixin card-paragraph(text)
  p.card__text.text.text--md.text--black= text

mixin card-list(...elements)
  ul.card__list.list-reset
    each element in elements
      li.card__item.text.text.text--sm.text--black= element

mixin card-image(src, alt)
  .card__image
    +image(src, alt)

mixin card-table(...items)
  table.card-table
    each row in items
      tr.card-table__row
        each data in row
          td.card-table__data= data

mixin card
  .card
    block
