.card {
  padding: rem(30px) rem(30px) rem(40px);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);

  &__image {
    margin-bottom: rem(40px);

    img {
      width: rem(450px);
      border-radius: 8px;
    }
  }

  &__subtitle {
    max-width: em(1000px, 24px);
  }

  &__text {
    max-width: em(1000px, 18px);
  }

  &__item {
    &::before {
      display: inline-block;
      width: rem(6px);
      height: rem(6px);
      margin-right: rem(10px);
      vertical-align: middle;
      content: "";
      background-color: var(--color-japonica);
      border-radius: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &__title,
  &__list {
    margin-bottom: rem(30px);
  }

  &__subtitle,
  &__text {
    margin-bottom: rem(20px);
  }
}

.card-table {
  max-width: rem(1200px);
  margin-bottom: rem(40px);
  text-align: center;
  border-collapse: collapse;

  &__row:nth-child(2n) {
    background-color: rgb(233 233 233);
  }

  &__data {
    padding: rem(20px);
    border: 1px solid var(--color-black);

    &:nth-child(2) {
      text-align: left;
    }
  }
}
