.card {
  padding: rem(30px) rem(30px) rem(40px);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);

  &__image {
    margin-bottom: rem(40px);

    img {
      width: rem(450px);
      border-radius: 8px;
    }
  }

  &__title {
    margin-bottom: rem(30px);
  }

  &__text {
    max-width: em(1000px, 18px);
    margin-bottom: rem(20px);
  }

  &__list {
    margin-bottom: rem(30px);
  }

  &__item {
    &::before {
      display: inline-block;
      width: rem(6px);
      height: rem(6px);
      margin-right: rem(10px);
      vertical-align: middle;
      content: "";
      background-color: var(--color-japonica);
      border-radius: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
