mixin product
  article.product
    .product__image
      +image("product.jpg", "Двери")
    .product__info
      h4.product__title.text.text--md.text--gray Дверь межкомнатная Лондон 2
      .product__wrapper
        a.product__buy.link-reset.btn.btn--md.btn--primary(href="product.html") Купить
        p.product__price от 30150 р.
