.product {
  padding: rem(30px) rem(20px);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);

  &__image {
    margin-bottom: rem(30px);
    text-align: center;

    img {
      width: rem(150px);
    }

    @include sm-laptop {
      margin-bottom: rem(20px);
    }

    @include tablet {
      img {
        width: rem(100px);
      }
    }
  }

  &__name {
    margin-bottom: rem(30px);

    @include sm-laptop {
      margin-bottom: rem(20px);
      font-size: rem(15px);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buy {
    display: flex;
    align-items: center;

    svg {
      width: rem(16px);
      height: rem(16px);
    }

    @include sm-laptop {
      padding: 0.8rem 1.6rem;
      font-size: rem(10px);
    }
  }

  &__price {
    font-size: rem(18px);

    @include sm-laptop {
      font-size: rem(15px);
    }
  }
}
