@import "@cmps/Product/product";

.list {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280px), rem(400px)));
    gap: rem(25px);
    justify-content: center;
  }
}
