include @cmps/Product/product

section.list
  .container.list__container
    +product
    +product
    +product
    +product
    +product
    +product
    +product
    +product
    +product
    +product
    +product
    +product
