@import "@cmps/Product/product";
@import "@cmps/Loader/loader";

.list {
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280px), 1fr));
    gap: rem(25px);
    justify-content: center;

    @include resolution(1224px) {
      grid-template-columns: repeat(auto-fit, minmax(rem(280px), rem(340px)));
    }
  }
}

.loader {
  min-height: rem(600px);
}
