section.list
  .container.list__container
    a.list-item.link-reset(href="/catalog/doors")
      +image("catalog-list/doors.jpg")(class="list-item__background" aria-hidden="true")
      h3.list-item__name.title.title--sm.title--light Двери
    a.list-item.link-reset(href="/catalog/metrage")
      +image("catalog-list/metrage.jpg")(class="list-item__background" aria-hidden="true")
      h3.list-item__name.title.title--sm.title--light Погонаж
    a.list-item.link-reset(href="/catalog/accessories")
      +image("catalog-list/accessories.jpg")(class="list-item__background" aria-hidden="true")
      h3.list-item__name.title.title--sm.title--light Фурнитура
    a.list-item.link-reset(href="/catalog/arch")
      +image("catalog-list/arch.jpg")(class="list-item__background" aria-hidden="true")
      h3.list-item__name.title.title--sm.title--light Арки
    a.list-item.link-reset(href="/catalog/iron-doors")
      +image("catalog-list/iron-doors.jpg")(class="list-item__background" aria-hidden="true")
      h3.list-item__name.title.title--sm.title--light Железные двери
