section.types
  .container.types__container
    a.types-item.link-reset(href="/catalog/doors")
      +image("catalog-types/doors.jpg")(class="types-item__background" aria-hidden="true")
      h3.types-item__name.title.title--sm.title--light Двери
    a.types-item.link-reset(href="/catalog/metrage")
      +image("catalog-types/metrage.jpg")(class="types-item__background" aria-hidden="true")
      h3.types-item__name.title.title--sm.title--light Погонаж
    a.types-item.link-reset(href="/catalog/accessories")
      +image("catalog-types/accessories.jpg")(class="types-item__background" aria-hidden="true")
      h3.types-item__name.title.title--sm.title--light Фурнитура
    a.types-item.link-reset(href="/catalog/arch")
      +image("catalog-types/arch.jpg")(class="types-item__background" aria-hidden="true")
      h3.types-item__name.title.title--sm.title--light Арки
    a.types-item.link-reset(href="/catalog/iron-doors")
      +image("catalog-types/iron-doors.jpg")(class="types-item__background" aria-hidden="true")
      h3.types-item__name.title.title--sm.title--light Железные двери
