@import "@cmps/Action/action";
@import "@cmps/Socials/socials";
@import "@cmps/Logo/logo";
@import "@cmps/Burger/burger";

.header {
  position: fixed;
  z-index: var(--z-header);
  width: 100%;
  background-color: var(--color-light);
  box-shadow: 0 1px 6px rgb(0 0 0 / 20%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10px) var(--container-horizontal-offset);
  }

  &__numbers {
    display: none;
    margin-left: rem(14px);
    font-weight: 500;

    a {
      display: block;

      &:not(:last-child) {
        margin-bottom: rem(8px);
      }
    }

    @include l-tablet {
      display: block;
    }

    @include resolution(480px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: rem(12px);

      @include sm-laptop {
        margin-right: rem(8px);
      }

      @include l-tablet {
        margin-right: rem(16px);
      }

      @include sm-mobile {
        margin-right: rem(10px);
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    background-color: var(--color-japonica);
    border-radius: 100%;

    svg {
      width: rem(16px);
      height: rem(16px);
      fill: var(--color-light);
    }

    @include sm-laptop {
      width: rem(34px);
      height: rem(34px);

      svg {
        width: rem(14px);
        height: rem(14px);
      }
    }

    @include l-tablet {
      width: rem(40px);
      height: rem(40px);

      svg {
        width: rem(16px);
        height: rem(16px);
      }
    }

    @include tablet {
      &--mail,
      &--phone {
        display: none;
      }
    }

    @include sm-mobile {
      width: rem(34px);
      height: rem(34px);
    }
  }
}

.main-nav {
  flex-basis: rem(700px);
  margin: 0 rem(20px);

  &__list {
    display: flex;
    justify-content: space-between;
  }

  @include resolution(1200px) {
    flex-basis: rem(600px);
  }

  @include sm-laptop {
    flex-basis: rem(500px);
  }

  @include l-tablet {
    display: none;
  }
}
