include @cmps/Action/action
include @cmps/Logo/logo
include @cmps/Burger/burger

header.header
  .container.header__container
    +logo
      address.header__numbers.font-reset
        a.link-reset.text--sm.text--primary(href="tel:+74951628202") +7 (495) 162-82-02
        a.link-reset.text--sm.text--primary(href="tel:+74951628202") +7 (495) 162-82-02
    nav.main-nav
      ul.list-reset.main-nav__list
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="company.html") О компании
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="catalog.html") Каталог
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="cooperation.html") Сотрудничество
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="info.html#where-to-buy") Где купить
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="service.html") Сервис
        li.main-nav__item
          a.link-reset.text.text--sm.text--secondary(href="info.html#contacts") Контакты
    .header__right
      +burger-toggle
      a.link-reset.header__action.header__action--mail(href="mailto:info@dveriregionov.ru")
        +icon("mail")
      a.link-reset.header__action.header__action--phone(href="tel:+74951628202")
        +icon("phone")
      a.link-reset.header__action(href="cart.html" aria-label="Корзина")
        +icon("cart")
