include @cmps/Action/action
include @cmps/Logo/logo
include @cmps/Burger/burger

header.header
  +burger
  .container.header__container
    +logo
      address.header__numbers.font-reset
        a.link-reset.text--sm(href="tel:89035354242") 8-903-535-42-42
        a.link-reset.text--sm(href="tel:89162634242") 8-916-263-42-42
    nav.main-nav
      ul.list-reset.main-nav__list
        li.main-nav__item
          a.link-reset.text.text--sm.text--gray(href="/company") О компании
        li.main-nav__item
          a.link-reset.text.text--sm.text--gray(href="/catalog") Каталог
        li.main-nav__item
          a.link-reset.text.text--sm.text--gray(href="/cooperation") Сотрудничество
        li.main-nav__item
          a.link-reset.text.text--sm.text--gray(href="/info#where-to-buy") Где купить
        li.main-nav__item#service-dropdown
          a.link-reset.text.text--sm.text--gray(href="#") Сервис
          .dropdown
            a.link-reset.text.text--sm.text--gray(href="/delivery") Доставка
            a.link-reset.text.text--sm.text--gray(href="/installation") Монтаж
            a.link-reset.text.text--sm.text--gray(href="/pay") Оплата
            a.link-reset.text.text--sm.text--gray(href="/garantee") Гарантия
        li.main-nav__item
          a.link-reset.text.text--sm.text--gray(href="/info#contacts") Контакты
    .header__right
      +burger-toggle
      a.link-reset.header__action.header__action--mail(href="mailto:m-dvor03@mail.ru" aria-label="Почта компании")
        +icon("mail")
      a.link-reset.header__action.header__action--phone(href="tel:89035354242" aria-label="Телефон отдела продаж")
        +icon("phone")
      a.link-reset.header__action#cart-item(href="/cart" aria-label="Корзина")
        +icon("cart")
        span
