.btn {
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;

  // Sizes

  &--md {
    padding: 1rem 2.3rem;
    font-size: rem(12px);
    font-weight: 700;
    text-transform: uppercase;
  }

  // Variants

  &--primary {
    color: var(--color-light);
    background-color: var(--color-japonica);
  }

  &--secondary {
    color: var(--color-light);
    background-color: var(--color-secondary);
  }
}
