.title {
  font-weight: 700;
  line-height: em(48px, 36px);

  // Sizes

  &--xl {
    font-size: rem(36px);

    @include sm-laptop {
      font-size: rem(30px);
    }

    @include tablet {
      font-size: rem(26px);
    }

    @include mobile {
      font-size: rem(24px);
    }
  }

  &--md {
    font-size: rem(30px);

    @include sm-laptop {
      font-size: rem(24px);
    }

    @include tablet {
      font-size: rem(22px);
    }

    @include mobile {
      font-size: rem(20px);
    }
  }

  &--sm {
    font-size: rem(24px);

    @include sm-laptop {
      font-size: rem(20px);
    }

    @include tablet {
      font-size: rem(18px);
    }

    @include mobile {
      font-size: rem(16px);
    }
  }

  // Colors

  &--light {
    color: var(--color-light);
  }
}
