include @cmps/Logo/logo
include @cmps/Action/action

footer.footer
  .container
    .footer__top
      +logo
      .footer__links
        .footer__column
          a.footer__link.link-reset.text.text--sm.text--light(href="/company") О компании
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog") Каталог
          a.footer__link.link-reset.text.text--sm.text--light(href="/cooperation") Сотрудничество
          a.footer__link.link-reset.text.text--sm.text--light(href="/info#whete-to-buy") Где купить
          a.footer__link.link-reset.text.text--sm.text--light(href="/info#contacts") Контакты
        .footer__column
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog/doors") Двери
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog/metrage") Погонаж
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog/accessories") Фурнитура
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog/arch") Арки
          a.footer__link.link-reset.text.text--sm.text--light(href="/catalog/iron-doors") Железные двери
        .footer__column
          address.footer__contacts.font-reset
            a.link-reset.text.text--md.text--light(href="tel:89035354242") 8-903-535-42-42
          .footer__actions
            +action-link("mailto:m-dvor03@mail.ru", "mail")
              | m-dvor03@mail.ru
          .footer__socials
            span.text.text--sm.text--light Мы в соцсетях
            include @cmps/Socials/socials
    .footer__bottom
      span.text.text--sm.text--light &copy; Дверной Регион, 2019 - 2021
