.socials
  a.socials__item.link-reset(href="instagram.com" aria-label="Инстаграм")
    +icon("instagram")
  a.socials__item.link-reset(href="facebook.com" aria-label="Фейсбук")
    +icon("facebook")
  a.socials__item.link-reset(href="vk.com" aria-label="Инстаграм")
    +icon("vk")
  a.socials__item.link-reset(href="telegram.com" aria-label="Телеграм")
    +icon("telegram")
