.socials {
  display: flex;
  align-items: center;

  &__item {
    svg {
      width: rem(18px);
      height: rem(18px);
    }

    &:not(:last-child) {
      margin-right: rem(10px);
    }

    @include sm-laptop {
      svg {
        width: rem(14px);
        height: rem(14px);
      }
    }
  }
}
