@import "@cmps/Loader/loader";
@import "@cmps/Tabs/tabs";
@import "@cmps/Popup/popup";
@import "@cmps/Counter/counter";
@import "@cmps/Modal/modal";

.card {
  position: relative;

  &__container {
    position: relative;
  }
}

.loader {
  min-height: rem(600px);
}

.product {
  display: grid;
  grid-template-columns: rem(300px) 1fr rem(300px);
  gap: rem(35px);
  margin-bottom: rem(90px);

  &__sku {
    margin-bottom: rem(8px);

    @include sm-laptop {
      font-size: rem(14px);
    }
  }

  &__name {
    margin-bottom: rem(15px);

    @include sm-laptop {
      margin-bottom: rem(10px);
      font-size: rem(20px);
    }
  }

  &__tags {
    margin-bottom: rem(40px);

    @include sm-laptop {
      margin-bottom: rem(30px);
    }
  }

  &__tag {
    display: inline-block;
    padding: rem(10px) rem(20px);
    font-size: rem(14px);
    color: var(--color-light);
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: rem(10px);
    }

    &--ordered {
      background-color: var(--color-green);
    }

    &--sales {
      background-color: var(--color-thindly);
    }

    &--new {
      background-color: var(--color-secondary);
    }

    @include sm-laptop {
      padding: rem(8px) rem(16px);
      font-size: rem(12px);
    }
  }

  &__label {
    margin-bottom: rem(18px);
  }

  &__wrapper {
    display: grid;
    gap: var(--grid-gap);

    @include sm-laptop {
      gap: rem(10px);
    }
  }

  &__sizes .product__wrapper {
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__size {
    padding: rem(12px) 0;

    &--active {
      color: var(--color-light);
      background-color: var(--color-japonica);
    }

    @include sm-laptop {
      padding: rem(10px) 0;
      font-size: rem(14px);
    }
  }

  &__column {
    @include tablet {
      flex: 1 1 rem(326px);
    }
  }

  &__info {
    margin-top: rem(40px);
  }

  &__equipments {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200px), 1fr));
      gap: rem(20px);
      width: 100%;
      margin-top: rem(30px);
    }

    @include resolution(530px) {
      margin-top: rem(20px);
    }
  }

  .tabs {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(30px);

    &__item {
      padding: rem(14px) 0;

      @include l-tablet {
        font-size: rem(14px);
      }
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__color,
  &__glass {
    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &--active {
      border: 2px solid var(--color-japonica);
    }
  }

  &__sizes,
  &__colors,
  &__glasses {
    padding: rem(20px) 0;
    border: solid var(--color-mercury);
    border-width: 1px 0 0;
  }

  &__colors .product__wrapper,
  &__glasses .product__wrapper {
    grid-template-columns: repeat(auto-fit, rem(50px));
    grid-auto-rows: rem(50px);

    @include sm-laptop {
      grid-template-columns: repeat(auto-fit, rem(40px));
      grid-auto-rows: rem(40px);
    }
  }

  @include resolution(1250px) {
    grid-template-columns: rem(200px) 1fr rem(250px);
  }

  @include sm-laptop {
    grid-template-columns: rem(150px) 1fr rem(200px);
    gap: rem(25px);
    margin-bottom: rem(50px);
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  @include mobile {
    margin-bottom: rem(40px);
  }
}

.product-image {
  &__current {
    margin-bottom: rem(40px);

    img { width: 100%; }

    @include sm-laptop {
      margin-bottom: rem(20px);
    }

    @include resolution(530px) {
      max-width: rem(140px);
      margin: 0 rem(20px) 0 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(60px));
    gap: rem(20px);

    @include resolution(1250px) {
      grid-template-columns: repeat(auto-fit, rem(52px));
    }

    @include sm-laptop {
      grid-template-columns: repeat(auto-fit, rem(40px));
      gap: rem(15px);
    }

    @include resolution(530px) {
      gap: rem(10px);
      align-items: start;
      height: 100%;
      overflow-y: auto;
    }
  }

  &__item img {
    width: 100%;
    pointer-events: none;
  }

  @include tablet {
    flex: 0 0 rem(200px);
    margin-right: rem(20px);
  }

  @include resolution(660px) {
    flex: 0 0 rem(150px);
  }

  @include resolution(530px) {
    display: flex;
    flex: 1 0 rem(200px);
    align-items: flex-start;
    height: rem(280px);
    margin: 0 0 rem(30px);
  }
}

.product-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(20px);
  margin-bottom: rem(30px);
  text-align: center;

  &__type {
    display: inline-block;
    margin-bottom: rem(10px);

    @include l-tablet {
      font-size: rem(12px);
    }

    @include resolution(840px) {
      font-size: rem(10px);
    }

    @include sm-mobile {
      font-size: rem(8.5px);
    }
  }

  &__count {
    padding: rem(8px) 0;
    margin-bottom: rem(10px);
    font-weight: 400;
    background-color: #e8e7e7;
    border-radius: 5px;

    @include sm-laptop {
      font-size: rem(16px);
    }
  }

  &__cta {
    width: 100%;
    padding: rem(14px) 0;

    @include sm-laptop {
      padding: rem(10px) 0;
      font-size: rem(14px);
    }
  }

  @include sm-laptop {
    gap: rem(10px);
    margin-bottom: rem(20px);
  }
}

.product-table {
  width: 100%;
  border-collapse: collapse;

  &__row:nth-child(2n) {
    background-color: rgb(233 233 233);
  }

  &__data {
    padding: rem(16px);
    line-height: 1.4;
    border: 1px solid var(--color-mercury);

    @include sm-laptop {
      padding: rem(10px);
      font-size: rem(14px);
    }
  }
}

.product-complect {
  &__item:not(:last-child) {
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);
    border-bottom: 1px solid var(--color-mercury);

    @include l-tablet {
      margin-bottom: rem(20px);
    }
  }

  &__item-name {
    margin-bottom: rem(14px);

    @include l-tablet {
      font-size: rem(16px);
    }
  }

  &__item-description {
    @include l-tablet {
      font-size: rem(14px);
    }
  }
}

.product-equipment {
  padding: rem(20px);
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);

  &__top {
    margin-bottom: rem(20px);
  }

  &__name {
    @include sm-laptop {
      font-size: rem(14px);
    }
  }

  &__price {
    @include sm-laptop {
      font-size: rem(14px);
    }
  }

  &:not(:last-child) {
    margin-bottom: rem(20px);

    @include tablet {
      margin: 0;
    }
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include sm-laptop {
    padding: rem(16px);
  }
}
