include @cmps/Tabs/tabs
include @cmps/Popup/popup
include @cmps/Counter/counter

section.card
  .container
    .product
      .product-image
        .product-image__current
          +image("door-handle.jpg")
        ul.product-image__list.list-reset
          li.product-image__item
            +image("door-handle.jpg")
          li.product-image__item
            +image("door-handle.jpg")
      .product__column
        .product__info
          h2.product__name Дверь HGX-1 Белый глянец размер 200 х 90 см.
          p.product__sku Артикул F0000083881
        .product__tags
          span.product__tag Заказная
          span.product__tag Скидки
          span.product__tag Новое
        .product-price
          .product-price__column
            small.product-price__type Розн. цена за полотно
            h3.product-price__count 26 240 ₽
            button.product-price__cta.btn-reset.btn.btn--md.btn--primary В корзину
          .product-price__column
            small.product-price__type Розн. цена за текущую комплектацию
            p.product-price__count 40 203 ₽
            button.product-price__cta.btn-reset.btn.btn--primary Вызов замерщика
        .product__sizes
          button.product__size.btn-reset.btn.btn--primary 1900 x 550
          button.product__size.btn-reset.btn.btn--primary 1900 x 600
          button.product__size.btn-reset.btn.btn--primary 2000 x 600
          button.product__size.btn-reset.btn.btn--primary 2000 x 700
          button.product__size.btn-reset.btn.btn--primary 2000 x 800
          button.product__size.btn-reset.btn.btn--primary 2000 x 900
        .product__colors
          button.product__color.btn-reset(aria-label="Белый глянец")
            +image("product-colors/white.jpg")(aria-hidden="true")
          button.product__color.btn-reset(aria-label="Серый глянец")
            +image("product-colors/gray.jpg")(aria-hidden="true")
          button.product__color.btn-reset(aria-label="Черный глянец")
            +image("product-colors/black.jpg")(aria-hidden="true")
        .product__info
          +tabs(
            {
              name: "Описание",
              hash: "#description"
            },
            {
              name: "Комплектующие",
              hash: "#equipment"
            }
          )
          table.product-table#description
            tr.product-table__row
              td.card-table__data Артикул:
              td.card-table__data F0000083896
            tr.product-table__row
              td.card-table__data Модель:
              td.card-table__data HGX-1
            tr.product-table__row
              td.card-table__data Цвет:
              td.card-table__data Черный глянец
            tr.product-table__row
              td.card-table__data Тип полотна:
              td.card-table__data глухое
            tr.product-table__row
              td.card-table__data Тип покрытия:
              td.card-table__data Глянцевое покрытие
            tr.product-table__row
              td.card-table__data Толщина:
              td.card-table__data 44
            tr.product-table__row
              td.card-table__data Стиль:
              td.card-table__data Хай-тек
            tr.product-table__row
              td.card-table__data Вид номенклатуры:
              td.card-table__data заказная
            tr.product-table__row
              td.card-table__data Особенности:
              td.card-table__data Полотна этой серии имеют заводской зарез под скрытые петли и под замок. Фурнитура поставляется отдельно комплектами : Комплект №1 (скрытые петли AGB - 2 шт, магнитный замок AGB под фиксатор) и Комплект № 2 (скрытые петли AGB - 2 шт, магнитный замок AGB под цилиндр). Цвет фурнитуры матовый хром.
          dl.card-equipment#equipment
            .card-equipment__item
              dt.card-equipment__item-name Коробка
              dl.card-equipment__item-description Коробка прямая сендвич HGX PET черный глянец 81*42*2150, телескоп с упл. комп 2,5шт - 6708 руб.
            .card-equipment__item
              dt.card-equipment__item-name Наличник
              dl.card-equipment__item-description Наличник прямой HGX PET, заподлицо, черный глянец 90*10*2150, телескоп (внешний) - 1451 руб. Наличник прямой PET, черный глянец 80*10*2150, телескоп (внутренний) - 1305 руб.
      .product__equipment
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            h5.product__equipment-item__price 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            h5.product__equipment-item__price 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            h5.product__equipment-item__price 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            h5.product__equipment-item__price 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            h5.product__equipment-item__price 25360 ₽
            +counter
