include @cmps/Tabs/tabs
include @cmps/Popup/popup
include @cmps/Counter/counter

section.card
  .container
    .product
      .product-image
        .product-image__current
          +image("product.jpg")
        .product-image__list
          button.product-image__item.btn-reset
            +image("product.jpg")
          button.product-image__item.btn-reset
            +image("product.jpg")
          button.product-image__item.btn-reset
            +image("product.jpg")
      .product__column
        p.product__sku Артикул: F0000083881
        h2.product__name.title.title--xs.title--black Дверь HGX-1 Белый глянец размер 200 х 90 см.
        .product__tags
          span.product__tag.product__tag--ordered Заказная
          span.product__tag.product__tag--sales Скидки
          span.product__tag.product__tag--new Новое
        .product-price
          .product-price__column
            small.product-price__type.text.text--sm Розн. цена за полотно
            h3.product-price__count.title.title--sm.title--black 26 240 ₽
            button.product-price__cta.btn-reset.btn.btn--primary В корзину
          .product-price__column
            small.product-price__type.text.text--sm Розн. цена за текущую комплектацию
            h3.product-price__count.title.title--sm.title--black 40 203 ₽
            button.product-price__cta.btn-reset.btn.btn--secondary Вызов замерщика
        .product__sizes
          button.product__size.product__size--active.btn-reset 1900 x 550
          button.product__size.btn-reset 1900 x 600
          button.product__size.btn-reset 2000 x 600
          button.product__size.btn-reset 2000 x 700
          button.product__size.btn-reset 2000 x 800
          button.product__size.btn-reset 2000 x 900
        .product__colors
          button.product__color.btn-reset(aria-label="Белый глянец")
            +image("product-colors/white.jpg")(aria-hidden="true")
          button.product__color.btn-reset(aria-label="Серый глянец")
            +image("product-colors/gray.jpg")(aria-hidden="true")
          button.product__color.btn-reset(aria-label="Черный глянец")
            +image("product-colors/black.jpg")(aria-hidden="true")
        .product__info
          +tabs(
            {
              name: "Описание",
              hash: "#description"
            },
            {
              name: "Комплектующие",
              hash: "#equipment"
            }
          )
          table.product-table#description(data-tab-content)
            tr.product-table__row
              td.product-table__data Артикул:
              td.product-table__data F0000083896
            tr.product-table__row
              td.product-table__data Модель:
              td.product-table__data HGX-1
            tr.product-table__row
              td.product-table__data Цвет:
              td.product-table__data Черный глянец
            tr.product-table__row
              td.product-table__data Тип полотна:
              td.product-table__data глухое
            tr.product-table__row
              td.product-table__data Тип покрытия:
              td.product-table__data Глянцевое покрытие
            tr.product-table__row
              td.product-table__data Толщина:
              td.product-table__data 44
            tr.product-table__row
              td.product-table__data Стиль:
              td.product-table__data Хай-тек
            tr.product-table__row
              td.product-table__data Вид номенклатуры:
              td.product-table__data заказная
            tr.product-table__row
              td.product-table__data Особенности:
              td.product-table__data Полотна этой серии имеют заводской зарез под скрытые петли и под замок. Фурнитура поставляется отдельно комплектами : Комплект №1 (скрытые петли AGB - 2 шт, магнитный замок AGB под фиксатор) и Комплект № 2 (скрытые петли AGB - 2 шт, магнитный замок AGB под цилиндр). Цвет фурнитуры матовый хром.
          dl.product-complect#equipment(data-tab-content)
            .product-complect__item
              dt.product-complect__item-name.title.title--sm Коробка
              dl.product-complect__item-description.text.text--md Коробка прямая сендвич HGX PET черный глянец 81*42*2150, телескоп с упл. комп 2,5шт - 6708 руб.
            .product-complect__item
              dt.product-complect__item-name.title.title--sm Наличник
              dl.product-complect__item-description.text.text--md Наличник прямой HGX PET, заподлицо, черный глянец 90*10*2150, телескоп (внешний) - 1451 руб. Наличник прямой PET, черный глянец 80*10*2150, телескоп (внутренний) - 1305 руб.
      .product__equipment
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name.title.title--sm.title--light Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            p.product__equipment-item__price.text.text--md.text--light 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name.title.title--sm.title--light Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            p.product__equipment-item__price.text.text--md.text--light 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name.title.title--sm.title--light Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            p.product__equipment-item__price.text.text--md.text--light 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name.title.title--sm.title--light Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            p.product__equipment-item__price.text.text--md.text--light 25360 ₽
            +counter
        .product__equipment-item
          .product__equipment-item__top
            h4.product__equipment-item__name.title.title--sm.title--light Полотно
            +popup("Коробка прямая сендвич HGX PET белый глянец 81*42*2150, телескоп с упл. комп 2,5шт арт. F0000084830")
          .product__equipment-item__bottom
            p.product__equipment-item__price.text.text--md.text--light 25360 ₽
            +counter
