mixin action(id, icon)
  .action.text.text--sm.text--gray(id=id)
    +icon(icon)
    block

mixin action-link(href, icon)
  a.action.link-reset.text.text--sm.text--gray(href=href)
    +icon(icon)
    block
