.action {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  svg {
    width: rem(18px);
    height: rem(18px);
    margin-right: rem(14px);
    fill: var(--color-japonica);

    @include sm-laptop {
      width: rem(14px);
      height: rem(14px);
      margin-right: rem(10px);
    }
  }

  &:hover {
    background-color: var(--color-secondary);
  }
}
