mixin breadcrumbs(...items)
  nav.breadcrumbs
    .container
      ul.breadcrumbs__list.list-reset
        each item in items
          li.breadcrumbs__item
            a.link-reset.text.text--sm.text--gray(href=`${item.path}`)= item.name
