.breadcrumbs {
  margin: rem(30px) 0;

  &__list {
    display: flex;
  }

  &__item {
    &::after {
      display: inline-block;
      margin: 0 rem(8px);
      color: var(--color-gray);
      vertical-align: middle;
      content: "/";
    }

    @include resolution(500px) {
      &::after {
        font-size: rem(12px);
      }

      a {
        font-size: rem(12px);
      }
    }
  }

  @include sm-laptop {
    margin: rem(20px) 0;
  }
}
