extends layouts/page
include _mixins

block config
  - page.title = "О компании - Дверной Регион"

block styles
  +style("styles/company.css")

include @cmps/Burger/burger
include @cmps/Breadcrumbs/breadcrumbs

block partials
  +burger

  include @cmps/Header/header
  main
    +breadcrumbs(
      {
        name: "Главная",
        path: "/"
      },
      {
        name: "О компании",
        path: "/company.html"
      }
    )
    include @partials/company/about
  include @cmps/Footer/footer

block scripts
  +script("scripts/company.js")
