extends layouts/page
include _mixins

block config
  - page.title = "О компании - Дверной Регион"

block styles
  +style("styles/cards-page.css")

include @cmps/Breadcrumbs/breadcrumbs

block partials
  include @cmps/Header/header
  main
    +breadcrumbs(
      { name: "Главная", path: "/" },
      { name: "О компании", path: "/company" }
    )
    include @partials/company/about
  include @cmps/Footer/footer

block scripts
  +script("scripts/cards-page.js")
