extends layouts/page
include _mixins

block config
  - page.title = "Доставка - Дверной Регион"

block styles
  +style("/styles/cards-page.css")

include @cmps/Breadcrumbs/breadcrumbs

block partials
  include @cmps/Header/header
  main
    +breadcrumbs(
      { name: "Главная", path: "/" },
      { name: "Доставка", path: "/delivery" }
    )
    include @partials/delivery/inside
    include @partials/delivery/outside
    include @partials/delivery/regions
    include @partials/delivery/moscow-region
    include @partials/delivery/info
  include @cmps/Footer/footer

block scripts
  +script("/scripts/cards-page.js")
