extends layouts/page
include _mixins

block config
  - page.title = "Page Title"

block styles
  +style("styles/index.css")

block partials
  include @cmps/Header/header
block scripts
  +script("scripts/index.js")
