extends layouts/page
include _mixins

block config
  - page.title = "Главная - Дверной Регион"

block styles
  +style("styles/index.css")

include @cmps/Burger/burger

block partials
  +burger
  include @cmps/Header/header
  main

block scripts
  +script("scripts/index.js")
