extends layouts/page
include _mixins

block config
  - page.title = "Загрузка - Дверной Регион"

block styles
  +style("styles/product.css")

include @cmps/Breadcrumbs/breadcrumbs

block partials
  include @cmps/Header/header
  main
    +breadcrumbs(
      { name: "Главная", path: "/" }
    )
    include @partials/product/card
  include @cmps/Footer/footer

block scripts
  +script("scripts/product.js")
