include @cmps/Card/card

section.benefits
  .container
    +card
      +card-title("Преимущества работы с нашей компанией")
      +card-paragraph("В складской программа более 150 моделей межкомнатных Дверей.")
      +card-subtitle("Широкий ассортимент отделки:")
      +card-list("Шпон", "Экошпон", "Эмаль", "Массив", "Масло")
      +card-subtitle("Широкий выбор фурнитуры и механизмов для Дверей ведущих мировых производителей.")
      +card-paragraph("Так же готовы предложить изготовление нестандартных размеров отделок и выкрасов по Ral.")
      +card-paragraph("Металлические двери представлены в ценовой категории от 5 тыс.р. до 100 тыс.р., постоянное наличие 60 моделей дверей в складской программе, а так же уникальное предложение по внутренним панелям (под каждую нашу межкомнатную Дверь держим панель на входную дверь).")
