include @cmps/Card/card

section.invite
  .container
    +card
      +card-image("door-handle.png", "")
      +card-title("Сотрудничество")
      +card-paragraph("Компания Дверной Регион приглашает к сотрудничеству дизайнеров и архитекторов.")
