include @cmps/Card/card

section.prefers
  .container
    +card
      +card-title("Нас выбирают, потому что у нас:")
      +card-list(
        "Гибкая система скидок для дизайнеров",
        "Широкий ассортимент",
        "Выдерживаем сроки",
        "Обеспечиваем полный сервис от заказа до установки",
        "Индивидуальная работа с персональным менеджером отдела по работе с дизайнерами",
        "Приятные бонусы и подарки по результатам годовой работы"
      )
