include @cmps/Card/card

section.benefits
  .container
    +card
      +card-title("Изготовление нестандартных размеров:")
      +card-list("С фрамугами", "Полками", "Двухсоставные", "Замки и фурнитура российских и итальянских производителей")
