include @cmps/Card/card

section.rooms
  .container
    +card
      +card-title("Установка межкомнатных дверей")
      +card-paragraph("Установка межкомнатных дверей - это кропотливая и ответственная работа, для которой необходим профессионализм. Мы знаем все об установке межкомнатных дверей и делаем это высококлассно.")
      +card-paragraph("Заказав установку межкомнатных дверей в нашей компании, Вы получите сервис высокого уровня и долгую, приятную эксплуатацию межкомнатных дверей. Установка межкомнатных дверей для Вас в квартире, доме, офисе в Москве и Московской области.")
      +card-list(
        "Высокое качество установки, быстрое выполнение заказа",
        "Квалифицированные узкоспециализированные мастера",
        "Индивидуальный подход к каждому клиенту",
        "Низкие цены на установку межкомнатных дверей",
        "Зарезка петель и замков (за исключением установки внутренних петель и некоторых видов замков)",
        "Зарезка наличников под 45 градусов и его монтаж"
      )

      +card-subtitle("Прайс лист на установку межкомнатных дверей:")
      +card-table(
        ["1", "Стандартный монтаж 1-й двери", "4500 руб."],
        ["2", "Стандартный монтаж 2-х дверей / Двери Шпон, Эмаль, Массив", "2500 / 3500 руб."],
        ["3", "Стан монтаж Арочной, Компанар с обр. открыванием, Инвизибл с зеркалом", "4750 руб."],
        ["4", "Установка декоративных реек / стеновых панелей за (1 м2) ", "1750 / 2500 руб."],
        ["5", "Установка дверей из Массива сосна. Дуб, Бук, Ольха. Глянец", "3500 руб."],
        ["6", "Установка двери гармошка / книжка / стекло/ Моноблок / Евро блок", "4500 руб."],
        ["7", "Установка РОТО – ДВЕРИ. Инвизибл. Компакт. Призрак. Барные. Арка", "4500 руб."],
        ["8", "Установка дверей ProfilDoors серии VG (высокий глянец)", "4500 руб."],
        ["9", "Установка  КАССЕТОНА без обрамления под одно полотно / под два полотна", "5500 / 7500 руб."],
        ["10", "Установка двери КУПЕ 1 стр. (без отделки проема)", "4500 руб."],
        ["11", "Установка двери Купе 2 стр. (без отделки проема)", "5500 руб."],
        ["12", "Установка синхронного механизма", "1500 / 2000 руб."],
        ["13", "Установка НЕСТАНДАРТНЫХ ДВЕРЕЙ (от 2100 мм) +30% к смете + 30%", ""],
        ["14", "Установка арки (стандартные размеры)", "4500 руб."],
        ["15", "Установка Добора до 10мм", "800 руб."],
        ["16", "Установка ДОБОРА от 10мм – 20мм (установка добора под выключатель)", "1200 руб."],
        ["17", "Установка Порталов от 20 см – 50 см", "1500 / 3000 руб."],
        ["18", "Установка ДЕКОРОТИВНЫХ ЭЛЕМЕНТОВ / капители / на одну сторону", "250 / 500 руб."],
        ["19", "Корректировка полотна по высоте (подрезка полотна, с одной стороны)", "1000 руб."],
        ["20", "Корректировка полотна по высоте (подрезка полотна с двух сторон)", "1500 руб."],
        ["21", "Корректировка коробки по толщине", "300 руб."],
        ["22", "Обрамление проема в арку (портал), без монтажа полтона, добор + наличник (до 20см)", "2000 руб."],
        ["23", "Обрамление проема в арку (портал), без монтажа полотна, добор + наличник ( от 20 см до 30см)", "2500 руб."],
        ["24", "Обрамление проема в арку (портал), без монтажа полотна, добор + наличник ( от 30 см до 50см)", "4500 руб."],
        ["25", "Расширение проема (бетон, кирпич, гипсокартона, пеноблоки) одна сторона – по усмотрению установщика", "1000 руб."],
        ["26", "Сужение проема бруском за одну сторону", "750 руб."],
        ["27", "Подрезка плинтуса (1шт)", "200 руб."],
        ["28", "Установка плинтуса (1 погонный метр)", "400 руб."],
        ["29", "Вырезка замка / Врезка магнитной ответной части", "500 / 250 руб."],
        ["30", "Установка порога / шторка", "500 / 1000 руб."],
        ["31", "Роспуск наличника вдоль", "300 руб."],
        ["32", "Установка ограничителя / доводчика и магнитного ограничителя", "500 / 1000 руб."],
        ["33", "Врезка фиксатора / под ключ", "300 руб."],
        ["34", "Врезка скрытой петли (1 шт.)", "500 руб."],
        ["35", "Врезка скрытой петли / замка в алюминиевую кромку (1 шт.)", "1000 руб."],
        ["36", "Вреска ригеля / установка притворной планки", "350 руб."],
        ["37", "Врезка 3-й дополнительной петли (карточной)", "350 руб."],
        ["38", "Повторный выезд по просьбе клиента (добивку наличника / доборов)", "2500 руб."],
        ["39", "Демонтаж дверного блока (без сохранения)", "500 руб."],
        ["40", "Установка нестандартных наличников (110, 120, 130, 140, 150, 160 мм) одна сторона + установка наличников на клей", "250 руб."],
        ["41", "Расходные материалы 1 комплект", "450 руб."],
        ["42", "Переклёпвывание фиксатора / врезка ручки Luxury Morelli", "750 руб."],
        ["43", "Установка панели на входную дверь ", "3500 руб."],
        ["44", "Оплата парковки за каждый час (оплачивает заказчик) согласно трафику (по тарифу)", ""],
        ["45", "Выезд за МКАД 1 км", "30 руб."],
        ["46", "Выезд бригады на объект без замера – не подготовлены стены и полы по вине заказчика", "1500 руб."]
      )
      +card-paragraph("Примечание: установка двери включает в себя монтаж новой дверной коробки в подготовленный проем, врезка двух карточных петель, монтаж наличника на обе стороны, установка ручки. !!! Внимание !!! Мастер производит установку из материала предоставленным ЗАКАЗЧИКОМ !!! !!!Внимание!!! Мастер не несет ответственность за качество и комплектацию дверей, за фабричный брак !!! Целостность проводки, находящейся на старой дверной коробке, осыпание штукатурки, сколов плитки, отщепление элементов покрытия пола и плинтусов в местах проведения монтажно – демонтажных работ, не ровное прилегание наличника к стене вследствие того, что проем не был подготовлен по уровню. Если выше указанное произошло в следствии несогласованной по этапности проведения строительных работ, технологии ремонта. Оседание пыли на стены и мебель")
