include @cmps/Card/card

section.refuse
  .container
    +card
      +card-title("Обмен и возврат товара надлежащего качества")
      +card-paragraph("Если купленный в нашем магазине товар вам не подошел, вы можете в течение 14-ти дней вернуть его или обменять на аналогичный.")

      +card-subtitle("Обязательные условия:")
      +card-list(
        "Товар не был в употреблении",
        "Наличие неповрежденной фабричной упаковки",
        "Полностью сохранённый товарный вид и потребительские свойства"
      )
      +card-paragraph("Доставка продукции подлежащей обмену или возврату осуществляется покупателем за свой счет. Чтобы начать процедуру обмена или возврата, свяжитесь с менеджером магазина.")

      +card-subtitle("Порядок возврата товара")
      +card-list(
        "Обмен/возврат товара осуществляется с понедельника по пятницу с 9:00 до 18:00",
        "Обязательно должна соблюдаться полная комплектация, предусмотренная для конкретного товара, включая заводскую упаковку. Если упаковка отсутствует, то покупатель должен компенсировать ее стоимость",
        "Чтобы оформить возврат, покупатель должен иметь при себе документы подтверждающие приобретение товара и паспорт"
      )

      +card-subtitle("За дополнительной информацией необходимо обращаться к менеджерам магазина.")
