include @cmps/Card/card

section.service
  .container
    +card
      +card-title("Гарантийное обслуживание")
      +card-paragraph("Гарантия на все товары составляет 1 год. Это значит, что если после приобретения изделия покупателем будет выявлен заводской брак, мы обменяем товар ненадлежащего качества, а в случае невозможности обмена (если нужной продукции нет в наличии) вернем уплаченные за него деньги.")
      +card-paragraph("Гарантия на монтаж дверей составляет 1 год и действует при условии соблюдения правил эксплуатации и наличии документов, подтверждающих предоставление услуги.")
      +card-subtitle("* Данная гарантия не распространяется на товар, конструкция которого была изменена покупателем в ходе эксплуатации.")
